@font-face {
  font-family: "backup"; 
  src: url("msUIgothic.ttf") format("truetype");
  size-adjust: 90%
}

body {
    background-color: #fff;
    background-image: url("https://64.media.tumblr.com/e13a7db6324a9d71038fc68dfbf34755/7b1689580e284ac9-85/s500x750/a017251250a2621f3d54d21e074153d50e88c5b5.pnj");
    font-size: 14px;
    font-family: MS UI Gothic,  backup, 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    }

  .wrapper {
    background: none;
    margin: 0 auto;
    width: 800px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("https://64.media.tumblr.com/8e085bb8080cb9bbf98d339240bbe3e6/7b1689580e284ac9-09/s75x75_c1/7b839a41b3dcc47b16a398501f79058ed811e07c.pnj");
    border-radius: 12px;
    }

  .sidebar-left, .sidebar-right {
    width: 150px;
    }
    
  .main {
    width: 440px;
    margin-left: 180px;
    }

  .main-left {
    width: 605px;
    margin-left: 15px;
    }
    
  .sidebar-left {
    margin-left: 15px;
    }

  .sidebar-right {
    margin-left: 15px;
    }

  .wrapper, .links a {
    color: #4f3d46;
    }
    
  .box { /* pink */
    border: 10px solid transparent;
    border-image: url(https://64.media.tumblr.com/0e9eeb2ed6bafd9acc60558cfd428110/7b1689580e284ac9-0a/s75x75_c1/a843b4c533c4c2c377c60fc09e66301843f52eaf.pnj) 23 round;
    background: white;
    background-clip: padding-box;
    box-shadow: 0px 0px 4px inset #00000044, 0px 0px 4px transparent;
    padding: 0;
    margin: 10px 0px 15px 0px;
    }

  #blue {
    border-image: url(https://64.media.tumblr.com/c67f611d736a6e5c74c2bb0b90b966f3/7b1689580e284ac9-b2/s75x75_c1/4ac87c2da16888a9ffbe408324d1a1d24d45c846.pnj) 23 round;
  }

    #blue-table {
        border-image: url(https://64.media.tumblr.com/c67f611d736a6e5c74c2bb0b90b966f3/7b1689580e284ac9-b2/s75x75_c1/4ac87c2da16888a9ffbe408324d1a1d24d45c846.pnj) 23 round;
        margin: 0px 0px 0px 0px;
        }

  #yellow {
    border-image: url(https://64.media.tumblr.com/e9180f35289ac33ed6ceb12adf915f17/7b1689580e284ac9-a0/s75x75_c1/2cbed18a4aacb2671ee86c1a088b05bd9b06c352.pnj) 23 round;
    box-shadow: 0px 0px 2px inset #00000044, 0px 0px 4px transparent;
      }

  #purple {
    border-image: url(https://64.media.tumblr.com/1e45262ed1337355de8f2a724754a9cc/7b1689580e284ac9-42/s75x75_c1/04333b362b3dacd28b6f62d9ffe3e70784ca65e2.pnj) 23 round;
    }

  .header {
    border: 3px double #333;
    background-image: url("");
    text-align: center;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    top: 0;
    height: 100px;
    overflow: hidden;
    background-size: cover;
    }

  .links {
    margin-top: 1em;
    }
    
  .title { /*suppress title, since we're putting the title as text in the header box*/
    display: none;
    }

  .box h1 { /* pink */
    background-image: url(https://foollovers.com/mat/plaid03/m10-bg-checked.gif);
    margin: 0;
    padding: 0.35em 0.25em 0.3em 0.25em;
    text-align: center;
    border-bottom: 3px double #f799b3;
    color: #4f3d46;
    font-size: 16px;
    text-shadow:
        0.05em 0 white,
        0 0.05em white,
        -0.05em 0 white,
        0 -0.05em white,
        -0.05em -0.05em white,
        -0.05em 0.05em white,
        0.05em -0.05em white,
        0.05em 0.05em white;
    font-weight: bold;
  }

  .box h2 { /* blue */
    background-image: url(https://foollovers.com/mat/plaid03/m06-bg-checked.gif);
    margin: 0;
    padding: 0.35em 0.25em 0.3em 0.25em;
    text-align: center;
    border-bottom: 3px double #bed8f1;
    color: #4f3d46;
    font-size: 16px;
    text-shadow:
        0.05em 0 white,
        0 0.05em white,
        -0.05em 0 white,
        0 -0.05em white,
        -0.05em -0.05em white,
        -0.05em 0.05em white,
        0.05em -0.05em white,
        0.05em 0.05em white;
    font-weight: bold;
    }

  .box h3 { /* yellow */
    background-image: url(https://64.media.tumblr.com/70d8312a0f8f3bbbfa09ab97750baa99/7b1689580e284ac9-92/s75x75_c1/67b8be4b5ea9ac5741db35aa121bc9161642ea5e.pnj);
    margin: 0;
    padding: 0.35em 0.25em 0.3em 0.25em;
    text-align: center;
    border-bottom: 3px double #fffdb0;
    color: #4f3d46;
    font-size: 16px;
    text-shadow:
        0.05em 0 white,
        0 0.05em white,
        -0.05em 0 white,
        0 -0.05em white,
        -0.05em -0.05em white,
        -0.05em 0.05em white,
        0.05em -0.05em white,
        0.05em 0.05em white;
    font-weight: bold;
  }

  .box h4 { /* purple */
    background-image: url(https://foollovers.com/mat/plaid03/m07-bg-checked.gif);
    margin: 0;
    padding: 0.35em 0.25em 0.3em 0.25em;
    text-align: center;
    border-bottom: 3px double #ccbef1;
    color: #4f3d46;
    font-size: 16px;
    text-shadow:
        0.05em 0 white,
        0 0.05em white,
        -0.05em 0 white,
        0 -0.05em white,
        -0.05em -0.05em white,
        -0.05em 0.05em white,
        0.05em -0.05em white,
        0.05em 0.05em white;
    font-weight: bold;
  }
    
  .inner {
    padding: 0.25em 1em 0.3em 1em;
    font-size: 14px;
    }

  .inner-tamanotchi {
    padding: 0.25em 1em 0.3em 1em;
    margin-top: 5px;
    display: flex;
    flex-direction: column; /* Stacks children vertically */
    justify-content: center; /* Centers children horizontally */
    align-items: center; /* Centers children horizontally */
    text-align: center;
    }

  .inner-credits {
    padding: 0.35em 0.25em 0.3em 0.25em;
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    height: 100%; /* Ensures the div takes up the full height of its container if not already set */
  }

  .wrapper a {
    color: hotpink; /* You already set this, but you can change it here */
  }

  .wrapper a:hover {
    color: pink; /* Color when the mouse hovers over the link */
    text-decoration: underline; /* Adds underline on hover */
  }

/* FOR MOBILE COMPAT */  
  @media (orientation: portrait) {
    .wrapper {
      width: 96vw;
      position: relative;
      top: 0;
      left: 0;
      transform: none;
      }
    .sidebar-left, .main, .main-left, .sidebar-right {
      position: relative;
      width: 92vw;
      margin: 0.25rem 1vw;
      }
    }

/* SCROLLING TEXT */

  #scroll-container {
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    }

/* STATUS CAFE WIDGET */

#statuscafe {
    padding: 0;
}
#statuscafe-username {
    margin-bottom: .5em;
    font-size: 12px;
    text-align: center;    
}
#statuscafe-content {
    margin: 0px 0px 0px 0px;
    padding: 5px;
    font-size: 12px;
    background-color: azure;
    border: 1px dashed midnightblue;
}

/* BUTTONS */

.navi-div-container {

  max-width: 170px;
  min-width:120px;
  border-radius: 17px;
  box-shadow: -1px -1.4px 1px inset #9e9699, 2px 3px 1.5px inset white,
    0px 0px 2px #aba4a6;
  margin-top: 5px;
  background-image: url("https://www.fancyparts.com/fancyparts/cg/pattern/che_a/che_a01m.gif");
}

.navi-div-text {
  color: #ccffff;
  font-size: 20px;
  font-weight: bold;
  font-family: MS PGothic;
  text-shadow: 2px 1px 1px #8dc3e2, 1px -2px 0 #8dc3e2, -1px 1px 0 #8dc3e2,
    -1px -1px 0 #8dc3e2, 1px 0px 0 #8dc3e2, 0px 2px 0 #8dc3e2,
    -2px 0px 0 #8dc3e2, 0px -2px 0 #8dc3e2, 2px 2px 2px rgba(221, 101, 139, 0);
  filter: drop-shadow(1px 1px 1px white);
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
}

/* CUSTOM SCROLLBAR */

::-webkit-scrollbar {
  width: 15px;
 height: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: #fff;
    background-image: url(https://proxy.everskies.com/a/https://i.imgur.com/Qtm9Z60.png);
    border-top: 1px solid #bdbdbd;
    border-left: 1px solid #bdbdbd;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

::-webkit-scrollbar {
  width: 15px;
 height: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: #fff;
    background-image: url(https://cdn.discordapp.com/attachments/1234846126994227272/1234920427785162752/scrollbar3.png?ex=66327cc5&is=66312b45&hm=55bdb91a4e6a070e56ff41e7c25cdbdc16fc427ff774adccfd07bc0a258413f9&);
    border-top: 1px solid #bdbdbd;
    border-left: 1px solid #bdbdbd;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

::-webkit-scrollbar-track {
    background-color: #fff;
    background-image: url(https://cdn.discordapp.com/attachments/1234846126994227272/1234920427504271490/scrollbar2.png?ex=66327cc5&is=66312b45&hm=35fa12cc27a8719ca05bcda83039b1deb968f6fb4ab01590750f7efdf859c758&);
}

::-webkit-scrollbar-button {
  background-color: darkgrey;
  background-image: url('https://cdn.discordapp.com/attachments/1234846126994227272/1234920427302682634/scrollbar1.png?ex=66327cc5&is=66312b45&hm=cb8db9332dc2563a3732615ddeaced97bb2094701e578eaeee256174c7e4929e&')
}
::-webkit-scrollbar-button:vertical:start {
  background-position: -45px 0;
}

::-webkit-scrollbar-button:vertical:end {
  background-position: 0 0;
}

::-webkit-scrollbar-button:horizontal:start {
  background-position: -15px 0;
}
::-webkit-scrollbar-button:horizontal:end {
  background-position: -30px 0;
}

/* CUSTOM SHAPES */

.circleClip {
  clip-path: circle(48.2% at 50% 50%);
}

/* TABLES */

table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto 0 auto;
}

th {
  border: 0px solid #fff;
  text-align: left;
  text-align: justify;
  font-weight: normal;
  padding: 0px 13px 0px 0px;
  vertical-align: top ;
}

tr th:nth-child(4) {
  padding: 0px 0px 0px 0px;
  vertical-align: top ;
}

/* Text area */
textarea {
  font-size: 12px;
  color: #b881fe;
  height: 50px;
  width: 150px;
  border-style: solid;
  border-color: #a966ff;
  border-width: 1px;
  overflow: auto;
}

/* stylin */

ol {
  list-style-type: none; /* No bullets */
  padding-left: 0; /* Removes indentation */
  margin-top: 0px;
}

u {
  text-decoration-line: underline;
  text-decoration-color: #f799b3;
}