@font-face {
  font-family: "backup"; 
  src: url("msUIgothic.ttf") format("truetype");
  size-adjust: 90%
}

@font-face {
  font-family: "e"; 
  src: url("emojifont.ttf") format("truetype");
}

body {
    background-color: #fff;
    background-image: url("/media/elements/bg/bg-stars-pastel.png");
    font-size: 14px;
    font-family: MS UI Gothic,  backup, 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    }

  .wrapper {
    background: none;
    margin: 0 auto;
    width: 800px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("/media/elements/bg/tiled-ging.png");
    border-radius: 12px;
    }

  .sidebar-left, .sidebar-right {
    width: 150px;
    }
    
  .main {
    width: 440px;
    margin-left: 180px;
    }

  .main-left {
    width: 605px;
    margin-left: 15px;
    }
    
  .sidebar-left {
    margin-left: 15px;
    }

  .sidebar-right {
    margin-left: 15px;
    }

  .wrapper, .links a {
    color: #4f3d46;
    }
    
  .box { /* pink */
    border: 10px solid transparent;
    border-image: url(/media/elements/borders/PINK.png) 23 round;
    background: white;
    background-clip: padding-box;
    box-shadow: 0px 0px 4px inset #00000044, 0px 0px 4px transparent;
    padding: 0;
    margin: 10px 0px 15px 0px;
    }

  #blue {
    border-image: url(/media/elements/borders/BLUE.png) 23 round;
  }

    #blue-table {
        border-image: url(/media/elements/borders/BLUE.png) 23 round;
        margin: 0px 0px 0px 0px;
        }

  #yellow {
    border-image: url(/media/elements/borders/YELLO.png) 23 round;
    box-shadow: 0px 0px 2px inset #00000044, 0px 0px 4px transparent;
      }

  #purple {
    border-image: url(/media/elements/borders/PURPLE.png) 23 round;
    }

  .header {
    border: 3px double #333;
    background-image: url("");
    text-align: center;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    top: 0;
    height: 100px;
    overflow: hidden;
    background-size: cover;
    }

  .links {
    margin-top: 1em;
    }
    
  .title { /*suppress title, since we're putting the title as text in the header box*/
    display: none;
    }

  .box h1 { /* pink */
    background-image: url(/media/elements/bg/m10-bg-checked.gif);
    margin: 0;
    padding: 0.35em 0.25em 0.3em 0.25em;
    text-align: center;
    border-bottom: 3px double #f799b3;
    color: #4f3d46;
    font-size: 16px;
    text-shadow:
        0.05em 0 white,
        0 0.05em white,
        -0.05em 0 white,
        0 -0.05em white,
        -0.05em -0.05em white,
        -0.05em 0.05em white,
        0.05em -0.05em white,
        0.05em 0.05em white;
    font-weight: bold;
  }

  .box h2 { /* blue */
    background-image: url(/media/elements/bg/m06-bg-checked.gif);
    margin: 0;
    padding: 0.35em 0.25em 0.3em 0.25em;
    text-align: center;
    border-bottom: 3px double #bed8f1;
    color: #4f3d46;
    font-size: 16px;
    text-shadow:
        0.05em 0 white,
        0 0.05em white,
        -0.05em 0 white,
        0 -0.05em white,
        -0.05em -0.05em white,
        -0.05em 0.05em white,
        0.05em -0.05em white,
        0.05em 0.05em white;
    font-weight: bold;
    }

  .box h3 { /* yellow */
    background-image: url(/media/elements/bg/m03-bg-checked-SATURATED.png);
    margin: 0;
    padding: 0.35em 0.25em 0.3em 0.25em;
    text-align: center;
    border-bottom: 3px double #fffdb0;
    color: #4f3d46;
    font-size: 16px;
    text-shadow:
        0.05em 0 white,
        0 0.05em white,
        -0.05em 0 white,
        0 -0.05em white,
        -0.05em -0.05em white,
        -0.05em 0.05em white,
        0.05em -0.05em white,
        0.05em 0.05em white;
    font-weight: bold;
  }

  .box h4 { /* purple */
    background-image: url(/media/elements/bg/m07-bg-checked.gif);
    margin: 0;
    padding: 0.35em 0.25em 0.3em 0.25em;
    text-align: center;
    border-bottom: 3px double #ccbef1;
    color: #4f3d46;
    font-size: 16px;
    text-shadow:
        0.05em 0 white,
        0 0.05em white,
        -0.05em 0 white,
        0 -0.05em white,
        -0.05em -0.05em white,
        -0.05em 0.05em white,
        0.05em -0.05em white,
        0.05em 0.05em white;
    font-weight: bold;
  }
    
  .inner {
    padding: 0.25em 1em 0.3em 1em;
    font-size: 14px;
    }

  .inner-tamanotchi {
    padding: 0.25em 1em 0.3em 1em;
    margin-top: 5px;
    display: flex;
    flex-direction: column; /* Stacks children vertically */
    justify-content: center; /* Centers children horizontally */
    align-items: center; /* Centers children horizontally */
    text-align: center;
    }

  .inner-credits {
    padding: 0.35em 0.25em 0.3em 0.25em;
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    height: 100%; /* Ensures the div takes up the full height of its container if not already set */
  }

  .wrapper a {
    color: hotpink; /* You already set this, but you can change it here */
  }

  .wrapper a:hover {
    color: pink; /* Color when the mouse hovers over the link */
    text-decoration: underline; /* Adds underline on hover */
  }

/* FOR MOBILE COMPAT */  
  @media (orientation: portrait) {
    .wrapper {
      width: 96vw;
      position: relative;
      top: 0;
      left: 0;
      transform: none;
      }
    .sidebar-left, .main, .main-left, .sidebar-right {
      position: relative;
      width: 92vw;
      margin: 0.25rem 1vw;
      }
    }

/* SCROLLING TEXT */

  #scroll-container {
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    }

/* STATUS CAFE WIDGET */

#statuscafe {
    padding: 0;
}
#statuscafe-username {
    margin-bottom: .5em;
    font-size: 12px;
    text-align: center;    
}
#statuscafe-content {
    margin: 0px 0px 0px 0px;
    padding: 5px;
    font-size: 12px;
    background-color: azure;
    border: 1px dashed midnightblue;
}

/* BUTTONS */

.navi-div-container {

  max-width: 170px;
  min-width:120px;
  border-radius: 17px;
  box-shadow: -1px -1.4px 1px inset #9e9699, 2px 3px 1.5px inset white,
    0px 0px 2px #aba4a6;
  margin-top: 5px;
  background-image: url("/media/elements/bg/bg-stars-pastel.png");
}

.navi-div-text {
  color: #ccffff;
  font-size: 20px;
  font-weight: bold;
  font-family: MS PGothic;
  text-shadow: 2px 1px 1px #8dc3e2, 1px -2px 0 #8dc3e2, -1px 1px 0 #8dc3e2,
    -1px -1px 0 #8dc3e2, 1px 0px 0 #8dc3e2, 0px 2px 0 #8dc3e2,
    -2px 0px 0 #8dc3e2, 0px -2px 0 #8dc3e2, 2px 2px 2px rgba(221, 101, 139, 0);
  filter: drop-shadow(1px 1px 1px white);
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
}

/* CUSTOM SCROLLBAR */

::-webkit-scrollbar {
  width: 15px;
 height: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: #fff;
    background-image: url(/media/elements/scrollbar3.png);
    border-top: 1px solid #bdbdbd;
    border-left: 1px solid #bdbdbd;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

::-webkit-scrollbar-track {
    background-color: #fff;
    background-image: url(/media/elements/scrollbar2.png);
}

::-webkit-scrollbar-button {
  background-color: darkgrey;
  background-image: url(/media/elements/scrollbar1.png);
}
::-webkit-scrollbar-button:vertical:start {
  background-position: -45px 0;
}

::-webkit-scrollbar-button:vertical:end {
  background-position: 0 0;
}

::-webkit-scrollbar-button:horizontal:start {
  background-position: -15px 0;
}
::-webkit-scrollbar-button:horizontal:end {
  background-position: -30px 0;
}

/* CUSTOM SHAPES */

.circleClip {
  clip-path: circle(48.2% at 50% 50%);
}

/* TABLES */

table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto 0 auto;
}

th {
  border: 0px solid #fff;
  text-align: left;
  text-align: justify;
  font-weight: normal;
  padding: 0px 13px 0px 0px;
  vertical-align: top ;
}

tr th:nth-child(4) {
  padding: 0px 0px 0px 0px;
  vertical-align: top ;
}

/* Text area */
textarea {
  font-size: 12px;
  color: #b881fe;
  height: 50px;
  width: 150px;
  border-style: solid;
  border-color: #a966ff;
  border-width: 1px;
  overflow: auto;
}

/* stylin */

ol {
  list-style-type: none; /* No bullets */
  padding-left: 0; /* Removes indentation */
  margin-top: 0px;
}

u {
  text-decoration-line: underline;
  text-decoration-color: #f799b3;
}

/* footer */
.footer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px; /* Fixing height */
  overflow: hidden;
}